body {
	background-color: #180756;
}

.game {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
}

.index {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 20px;
}

.title {
	font-size: 128px;
	font-weight: bold;
	color: #ffb510;
	text-shadow: 0 0 10px black;
}

#game-board {
	display: grid;
	grid-template-columns: repeat(var(--cols, 7), 80px);
	grid-template-rows: repeat(var(--rows, 6), 80px);
	gap: 5px;
	border: 10px solid #28159b;
	padding: 20px;
	background-color: #7661d1;
	border-radius: 15px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

.winmessage {
	position: absolute;
	top: 125px;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 25px;
}

.simulation-buttons {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	text-align: left;
	display: flex;
	align-items: center;
}

.simulation-buttons button {
	margin: 5px;
	padding: 10px;
	font-size: 14px;
	background: linear-gradient(to bottom, #321699, #170e77);
	border: 2px solid #7661d1;
	border-radius: 50px;
	color: white;
	text-decoration: none;
	width: 250px;
	height: 50px;
	font-size: 15px;
}

.simulation-buttons button:hover {
	background: #28159b;
	color: white;
	text-decoration: none;
}

#replay-button {
	position: absolute;
	top: 75px;
	left: 50%;
	transform: translateX(-50%);
	background: linear-gradient(to bottom, #321699, #170e77);
	border: 2px solid #7661d1;
	border-radius: 50px;
	color: white;
	text-decoration: none;
	width: 250px;
	height: 75px;
	font-size: 25px;
}

#replay-button:hover {
	background: #28159b;
	color: white;
	text-decoration: none;
}

.blink {
	animation: blinkAnimation 0.5s infinite alternate;
}

@keyframes blinkAnimation {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.falling-piece {
	animation-name: fallAnimation;
	animation-duration: 0.5s;
	animation-timing-function: ease-in-out;
	box-shadow: none;
	opacity: 0;
	transform: translateY(-100vh) translateZ(0);
	position: absolute;
	z-index: 2;
}

.falling-piece-simulate {
	animation-name: fallAnimation;
	animation-duration: 0.01s;
	animation-timing-function: ease-in-out;
	box-shadow: none;
	opacity: 0;
	transform: translateY(-100vh) translateZ(0);
	position: absolute;
	z-index: 2;

}

@keyframes fallAnimation {
	0% {
		opacity: 0;
		transform: translateY(-100vh) translateZ(0);
	}

	50% {
		opacity: 0.8;
		/* Ajustez l'opacité à mi-chemin pour l'effet d'entrée */
		transform: translateY(0) translateZ(0);
	}

	100% {
		opacity: 1;
		transform: translateY(0) translateZ(0);
	}
}


.cell {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	cursor: pointer;
	position: relative;
	background-color: #180756;
	box-shadow: inset 0 -10px 0 0 #2a27a0;
}

.player1-token,
.player2-token {
	box-shadow: none;
	transform: rotate(0deg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	position: relative;
	align-items: center;
	justify-content: center;
	display: flex;
}

.player1-token {
	background-image: url("../img/yellow_token.png");
}

.player2-token {
	background-image: url("../img/red_token.png");
}

.end {
	left: 50%;
	color: blue;
}

.frame {
	display: inline-block;
	width: 10%;
	margin: 150px;
	box-sizing: border-box;
	border: 10px solid #28159b;
	border-radius: 10px;
	text-align: center;
	position: relative;
}

.text-below {
	display: block;
	width: 100%;
	text-align: center;
	margin-top: 30px;
	margin-bottom: -60px;
	white-space: nowrap;
	color: white;
	font-size: 20px;
}

.side-panel {
	position: relative;
	background-color: #7661d1;
}

.screen {
	width: 100%;
	height: 200px;
	background-color: #180756;
	display: flex;
	justify-content: center;
	align-items: center;
}

.screen img {
	width: 75%;
}

.player-label {
	font-size: 25px;
	font-weight: bold;
	color: #28159b;
	padding: 10px;
	display: block;
}

.fs-64 {
	font-size: 64px;
}

.fs-32 {
	font-size: 32px;
}

.displaynone {
	display: none;
}

.visibilityhidden {
	visibility: hidden;
}

.btnpuissance4 {
	background: linear-gradient(to bottom, #321699, #170e77);
	border: 2px solid #7661d1;
	border-radius: 50px;
	color: white;
	text-decoration: none;
	width: 350px;
	height: 100px;
	font-size: 40px;
}

.btnpuissance4:hover {
	background: #28159b;
	color: white;
	text-decoration: none;
}